# Node modules
node_modules/
**/node_modules/

# Environment files
.env
.env.*
!.env.example

# Next.js
.next/

# Build folders
dist/
build/

# logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Coverage
coverage/
